
## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

Створіть змінні для особистої інформації (кожен пункт оцінюється в 0.5 бала):
- `name` - ваше ім'я (рядок)
- `age` - ваш вік (ціле число)
- `height` - ваш зріст в метрах (дробове число)
- `is_student` - чи є ви студентом (True/False)

Виведіть кожну з цих змінних за допомогою функції `print()`.

In [1]:
name = 'Yulia'
age = 22
height = 166.5
is_student = True

In [2]:
# Звичайний вивід результатів
print('Name:', name)
print('Age:', age)
print('Height:', height)
print('Is student:', is_student)

Name: Yulia
Age: 22
Height: 166.5
Is student: True

In [3]:
# Використання форматування рядка
print(f'My name is {name}. I am {age} years old.\nMy height is {height}.\nCurrently my student status is {is_student}.')

My name is Yulia. I am 22 years old.
My height is 166.5.
Currently my student status is True.


---

**2. Арифметичні операції**

Створіть дві змінні: `var1` зі значенням 15, `var2` зі значенням 4.

Обчисліть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Суму
- Різницю
- Добуток
- Ділення
- Цілочисельне ділення
- Залишок від ділення
- Піднесення до степеня

In [4]:
var1 = 15
var2 = 4

In [5]:
sum_var = var1 + var2 # sum
diff_var = var1 - var2 # difference
prod_var = var1 * var2 # product
div_var = var1 / var2 # division
int_div_var = var1 // var2 # integer division
rem_div_var = var1 % var2 # remainder from division
exp_var1 = var1 ** var2 # exponentiation
exp_var2 = var2 ** var1 # exponentiation

In [6]:
print(f"The variable 1 equals {var1} and the variable 2 is {var2}.")
print(f"The sum of them equals {sum_var} while the difference is {diff_var}.")
print(f"The product of them equals {prod_var} while the difference is {div_var}. Besides integer division equals {int_div_var} while remainder from division is {rem_div_var}.")
print(f"If {var1} raised to the {var2} power then we get {exp_var1}. But if {var2} raised to the {var1}, we have {exp_var2}.")

The variable 1 equals 15 and the variable 2 is 4.
The sum of them equals 19 while the difference is 11.
The product of them equals 60 while the difference is 3.75. Besides integer division equals 3 while remainder from division is 3.
If 15 raised to the 4 power then we get 50625. But if 4 raised to the 15, we have 1073741824.


---

**3. Робота з рядками**

Створіть зміну `last_name`, яка містять ваше прізвище.

Виконайте (кожен пункт оцінюється в 0.5 бала):
- Об'єднайте значення змінних `name` та `last_name` через пробіл в один рядок і збережіть в нову змінну `full_name`
- Виведіть `full_name` великими літерами
- Виведіть `full_name` малими літерами
- Виведіть довжину `full_name`
- Виведіть фразу: "Мене звати [ім'я], мені [вік] років". Вік використайте зі змінної, створеної у вправі 1.

In [7]:
last_name = 'Forostiana'

In [8]:
full_name = name + " " + last_name

In [9]:
print(full_name.upper())
print(full_name.lower())
print(f'The lenght of my full name (with space) is {len(full_name)}.')
print(f'Мене звати {name}, мені {age} років.')

YULIA FOROSTIANA
yulia forostiana
The lenght of my full name (with space) is 16.
Мене звати Yulia, мені 22 років.