**1. Функція з параметром**

Створіть функцію `show_menu()`, яка приймає перелік страв, наприклад ['Піца', 'Паста', 'Салат'] і виводить меню ресторану в наступному вигляді:
```
=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============
```

Викличте цю функцію на списку ["Суп грибний", "Котлета по-київськи", "Лимонад"].

In [1]:
dishes_1 = ['Піца', 'Паста', 'Салат']

def show_menu(dishes):
    print('=== МЕНЮ ===')
    for i, dish in enumerate(dishes):
        print(f'{i+1}. {dish}')
    print('='*12)

show_menu(dishes_1)

dishes_2 = ["Суп грибний", "Котлета по-київськи", "Лимонад"]
show_menu(dishes_2)

=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
============
=== МЕНЮ ===
1. Суп грибний
2. Котлета по-київськи
3. Лимонад
============


---

**2. Функція з параметром**

Створіть функцію `print_square(n)`, яка виводить квадрат числа.

Наприклад: `print_square(5)` → "Квадрат числа 5 = 25"

Викличте її з різними числами.

In [2]:
import random 

random.seed(77)
numbers = list(random.randint(1,200) for _ in range(15))
print('The list of numbers:', numbers)

The list of numbers: [65, 84, 51, 62, 50, 30, 75, 122, 143, 157, 61, 38, 143, 162, 170]

In [3]:
# спосіб 1
def print_square(n):
    for number in numbers:
        print(f'Квадрат числа {number} = {number ** 2}')

print_square(numbers)

Квадрат числа 65 = 4225
Квадрат числа 84 = 7056
Квадрат числа 51 = 2601
Квадрат числа 62 = 3844
Квадрат числа 50 = 2500
Квадрат числа 30 = 900
Квадрат числа 75 = 5625
Квадрат числа 122 = 14884
Квадрат числа 143 = 20449
Квадрат числа 157 = 24649
Квадрат числа 61 = 3721
Квадрат числа 38 = 1444
Квадрат числа 143 = 20449
Квадрат числа 162 = 26244
Квадрат числа 170 = 28900

In [4]:
# спосіб 2
print_squares = list(map(lambda n: print(f'Квадрат числа {n} = {n ** 2}'), numbers))

Квадрат числа 65 = 4225
Квадрат числа 84 = 7056
Квадрат числа 51 = 2601
Квадрат числа 62 = 3844
Квадрат числа 50 = 2500
Квадрат числа 30 = 900
Квадрат числа 75 = 5625
Квадрат числа 122 = 14884
Квадрат числа 143 = 20449
Квадрат числа 157 = 24649
Квадрат числа 61 = 3721
Квадрат числа 38 = 1444
Квадрат числа 143 = 20449
Квадрат числа 162 = 26244
Квадрат числа 170 = 28900


---

**3. Функція з поверненням значення**

Створіть функцію `multiply(a, b)`, яка повертає добуток двох чисел.

Викличте функцію на власноруч заданих значеннях та виведіть результат.

In [5]:
def multiply(a = 23, b = 34):
    return a * b

print(multiply(43, 45))
print(multiply())

1935
782


---

**4. Функція пошуку максимумального значення**

Створіть функцію `find_max(numbers)`, яка:
- Приймає список чисел
- Повертає найбільше число в списку

Протестуйте на списку `[15, 42, 8, 23, 56, 19]`.

In [6]:
list_num = [15, 42, 8, 23, 56, 19]

In [7]:
# спосіб 1
def find_max(numbers):
    print('The list is', numbers)
    max_num = max(numbers)
    return max_num

result = find_max(list_num)
print('The max number of the list is', result)

The list is [15, 42, 8, 23, 56, 19]
The max number of the list is 56

In [8]:
# спосіб 2
find_max = (lambda numbers: max(numbers)) (list_num)
print('The list is', list_num)
print('The max number of the list is', find_max)

The list is [15, 42, 8, 23, 56, 19]
The max number of the list is 56


---

**5. Функція з умовами**

Створіть функцію `check_grade(grade)`, яка:
- Приймає оцінку (число)
- Повертає "Здав" якщо grade >= 60
- Повертає "Не здав" якщо grade < 60

Протестуйте на різних оцінках.

In [9]:
grade = 95

def check_grade(grade = 60):
    if grade >= 60:
        print("Здав")
    else:
        print("Не здав")

check_grade(grade)
check_grade()
check_grade(56)

Здав
Здав
Не здав